block vars

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Wobscale Technologies - #{title}
    link(rel="stylesheet",href="/css/bootstrap.min.css")
    link(rel="stylesheet",href="/css/tether.min.css")
    link(rel="stylesheet",href="/css/wobscale.css")
  body
    .container.outer-container(class=extraCss)
      nav.navbar.navbar-fixed-top.navbar-dark
        button.navbar-toggler.hidden-sm-up(type="button",data-toggle="collapse",data-target="#topnav",aria-controls="topnav") &#9776;
        #topnav.collapse.navbar-toggleable-xs
          a.navbar-brand(href="/") Wobscale Technologies, LLC
          ul.nav.navbar-nav.pull-xs-right
            li.nav-item(class=file.relative === "index.jade" ? "active" : undefined)
              a.nav-link(href="/") Home
            li.nav-item(class=file.relative === "about.jade" ? "active" : undefined)
              a.nav-link(href="/about.html") About
            li.nav-item.dropdown(class=file.relative === "services.jade" || file.relative == "services/colocation.jade" ? "active" : undefined)
              a.nav-link.dropdown-toggle(href="#",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") Services&nbsp;
              .dropdown-menu
                a.dropdown-item(href="/services/colocation.html") Server Colocation
            li.nav-item(class=file.relative == "contact.jade" ? "active" : undefined)
              a.nav-link(href="/contact.html") Contact Us
      .container-fluid
        .maincontent
          block content
    script(src="/js/tether.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="/js/bootstrap.min.js")
